.personal-info{
    text-align: center;
    background: #1A1B21;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.profile {
    width: 410px;
    margin: auto;
    height: 400px;
    display: block;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.name {
    font-size: 25px;
    font-weight: 900;
    color: white;
    margin: 0px;
}

.job-position {
    font-size: 12.8px;
    color: #F3BF99;
    padding-block: 0px;
    margin: 0px;
}

.email {
    font-size: 12px;
    color: white;
    padding-block: 0px;
    margin: 5px;
}

.btn {
    margin: 20px;
}

.btn > button {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.linkedin-btn {
    background: #5093E2;
    color: white;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-icon {
    width: 20px;
    margin: 5px 0px;
    justify-content: center;
}

/* .email-btn {
    display: flex;
    
}

.linkedin-btn {
    display: flex;
} */

/* .btn {
    border: none;
    font-size: 12px;
    color: red;
    width: 150px;
    height: 30px;
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
} */